APS-DNP-Oct-29-2022-blx.bib
APS-DNP-Oct-29-2022.aux
APS-DNP-Oct-29-2022.bbl
APS-DNP-Oct-29-2022.bcf
APS-DNP-Oct-29-2022.blg
APS-DNP-Oct-29-2022.log
APS-DNP-Oct-29-2022.nav
APS-DNP-Oct-29-2022.out
APS-DNP-Oct-29-2022.run.xml
APS-DNP-Oct-29-2022.snm
APS-DNP-Oct-29-2022.toc
APS-DNP-Oct-29-2022.vrb
.DS_Store
.idea/
